body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  text-align: center;
  margin-top: 50px;
}

.drop-down {
  margin-top: 30px;
}

.drop-down__title {
  margin-left: 10px;
  margin-right: 10px;
}

.drop-down__item:hover {
  color: white !important;
  background-color: #0275d8 !important; /* bootstrap primary color */
  border-radius: 5px;
}

i {
  color: gray;
}
